[Unit]
Description="HashiCorp Nomad
Documentation=https://www.nomadproject.io/
Requires=network.target
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/bin/nomad agent -config={{ NOMAD_CONFIG_DIR }}/config.hcl
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target