# Increase log verbosity
log_level = "DEBUG"
bind_addr = "0.0.0.0"

advertise {
  # Defaults to the first private IP address.
  http = "{{ hostvars[inventory_hostname].ansible_host }}"
  rpc  = "{{ hostvars[inventory_hostname].ansible_host }}"
  serf = "{{ hostvars[inventory_hostname].ansible_host }}"
}

# Setup data dir
data_dir = "{{ NOMAD_DATA_DIR }}"

# Enable the server
server {
    enabled = true

    # Self-elect, should be 3 or 5 for production
    bootstrap_expect = 1
}

consul {
    address = "127.0.0.1:8500"
}